<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/index.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
    </head>
    <body>
        <div class="home--page">
            <div class="home--tile home--players-tile">
                <h3 class="home--tile-title">Players Online:</h3>
                <ul class="home--players-list">
                    <li class="home--players-entry">
                        <div
                            class="home--players-status home--status-online"
                        ></div>
                        <p class="home--players-name"><%= data.onlineUsers %></p>
                    </li>
                    <li class="home--players-entry">
                        <div
                            class="home--players-status home--status-ingame"
                        ></div>
                        <p class="home--players-name"><%= data.offlineUsers %></p>
                    </li>
                    <li class="home--players-entry">
                        <div
                            class="home--players-status home--status-away"
                        ></div>
                        <p class="home--players-name"><%= data.awayUsers %></p>
                    </li>
                </ul>
            </div>
            <div class="home--tile home--game-tile">
                <a href="/ingame">
                    <button class="home--game-button">Search for Match</button>
                </a>
            </div>
            <div class="home--tile home--user-tile">
                <h2 class="home--user-name"><%= data.name.name %></h2>
                <div class="home--user-status home--status-online"></div>
                <p class="home--user-status-label">(online)</p>
                <a class="home-user-logout-link" href="/auth/logout">
                    <img
                        class="home--user-logout"
                        src="/logout.svg"
                        alt="log out"
                    />
                </a>
            </div>
            <div class="home--tile home--stats-tile">
                <h3 class="home--tile-title">Your Stats:</h3>
                <ul class="home--stats-list">
                    <li class="home--stats-item">
                        <p class="home--stats-name">Games Played:</p>
                        <h4 class="home--stats-value"><%= data.name.gamesPlayed %></h4>
                    </li>
                    <li class="home--stats-item">
                        <p class="home--stats-name">Win Percentage:</p>
                        <h4 class="home--stats-value"><%= data.name.winRate %>%</h4>
                    </li>
                    <li class="home--stats-item">
                        <p class="home--stats-name">Wins:</p>
                        <h4 class="home--stats-value"><%= data.name.wins %></h4>
                    </li>
                    <li class="home--stats-item">
                        <p class="home--stats-name">Losses:</p>
                        <h4 class="home--stats-value"><%= data.name.losses %></h4>
                    </li>
                    <li class="home--stats-item">
                        <p class="home--stats-name">Draws:</p>
                        <h4 class="home--stats-value"><%= data.name.draws %></h4>
                    </li>
                </ul>
            </div>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io();
            
            socket.on("connect", () => {
                socket.emit("request online users");
            })

            socket.on("update users", () => {
                socket.emit("request online users");
            })
            
            var users = document.getElementsByClassName("home--players-list")[0];

            socket.on("online users response", (userList) => {

                while (users.firstChild) {
                    users.removeChild(users.firstChild);
                 }

                for(let i = 0; i < userList.results.length; i++) {
                    console.log(userList.results[i])
                    // Create list element
                    var li = document.createElement("li");
                    li.className = "home--players-entry";

                    // Create status icon
                    var statusIcon = document.createElement("div");
                    if (userList.results[i].status === "online") {
                        statusIcon.className = "home--players-status home--status-online";
                    } else if (userList.results[i].status == "in-game") {
                        statusIcon.className = "home--players-status home--status-ingame";
                    }

                    // Create name label 

                    var nameLabel = document.createElement("p");
                    nameLabel.className = "home--players-name"
                    nameLabel.textContent = userList.results[i].name;

                    li.appendChild(statusIcon);
                    li.appendChild(nameLabel);
                    users.appendChild(li);

                }
            });

        </script>
    </body>
</html>
